* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #b4b2dd;
}

header, footer {
    background-color: #2F3136;
}

h2 {
    font-weight: 500;
    margin-bottom: 0.7em;
}

.image-title {

    position: absolute;
    margin-left: 1em;
}

.image-title .icon-title {
    background: url("../images/web-house.svg");
}

.list-ul {
    display: flex;
    list-style: none;
}

.list-ul .list-li {
    margin-right: 1em;
    font-size: 2em;
}

.list-ul .list-li a {
    text-decoration: none;
    color: #9966E7;
}

.list-ul .list-li a:hover {
    text-decoration: none;
    color: #b287f3;
}

.list-ul .list-li .selected {
    border-bottom: 1.5px groove #b4b2dd;
}

.list-ul {
    padding-left: 6.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    color: #9966E7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    vertical-align: baseline;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.section-text  {
    text-indent: 2em;
    margin: 0.7em 0.8em 0.7em 0.8em;
    line-height: 1.5rem;
    height: 29rem;
}

form {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

form .group-input {
    display: inline-flex;
    padding-bottom: 1em;
    padding-right: 1em;
}
form .group-input:last-child {
    margin-left: 2em;
    margin-top: 0.6em;
    display: block;
    padding-left: 6em;
    position: relative;
}

#nome, #email {
    width: 100%;
}

#mensagem {
    min-height: 10rem;
    width: 100%;
}

button {
    width: 5rem;
}

.div-button {
    text-align: right;
    margin-right: 1em;
}

textarea:focus, textarea,
input:focus, input {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
}




